<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Code to calculate the mean
def calculate_mean(List):
    return sum(List) /len(List)

In [2]:
#testing the function
List = [1,2,3,4,5,6,7,8,9,10]
calculate_mean(List)

5.5

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [3]:
# Code to calculate standard deviation:
def calculate_std(List):
    L_mean = calculate_mean(List)
    sigma = [((value - L_mean) ** 2) for value in List]
  
    return (sum(sigma) / len(List)) ** ((1.0/2))

In [4]:
#testing to calcuate the STD
calculate_std(List)

2.8722813232690143

In [5]:
#import numpy as np

#print("Validate: ",np.mean(List), np.std(List))

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [6]:
#function to convert string % to decimal
def percent_conversion(perc_string):
    return float(perc_string.replace('%', ''))/100

In [7]:
# Testing:
percent_conversion('30.5%')

0.305

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [8]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

# Sources/References:
We will be looking at 2019-2021 SAT AND ACT PARTICIPATION by State.
2019 SAT and ACT are provided by GA,
2020 and 2021 are from the website stated below:

2021 ACT -> https://www.act.org/content/dam/act/unsecured/documents/2021/2021-Average-ACT-Scores-by-State.pdf

2020 ACT -> https://www.act.org/content/dam/act/unsecured/documents/2020/2020-Average-ACT-Scores-by-State.pdf

2020 SAT -> https://research.collegeboard.org/programs/sat/data/2020-sat-suite-annual-report

2021 SAT -> https://blog.prepscholar.com/average-sat-scores-by-state-most-recent/
https://reports.collegeboard.org/sat-suite-program-results

# Reading the SAT file, cleanse/rename columns, adding year as column, merging 3 years of dataset into 1

In [9]:
# Code to load the 2019 SAT file
df_sat_2019 = pd.read_csv("../data/sat_2019.csv")
df_sat_2019.columns = df_sat_2019.columns.str.lower().str.replace(' ', '_')
df_sat_2019 = df_sat_2019[['state','participation_rate', 'total']]
df_sat_2019['year']=2019
df_sat_2019.head()

        state participation_rate  total  year
0     Alabama                 7%   1143  2019
1      Alaska                41%   1097  2019
2     Arizona                31%   1134  2019
3    Arkansas                 6%   1141  2019
4  California                63%   1065  2019

In [10]:
# Code to load the 2020 SAT file

df_sat_2020 = pd.read_csv("../data/sat_2020.csv")
df_sat_2020.columns = df_sat_2020.columns.str.lower().str.replace(' ', '_')
df_sat_2020 = df_sat_2020[['state','participation_rate', 'total']]
df_sat_2020['year']=2020
df_sat_2020.head()

        state participation_rate  total  year
0     Alabama                 7%   1159  2020
1      Alaska                37%   1098  2020
2     Arizona                29%   1139  2020
3    Arkansas                 4%   1157  2020
4  California                67%   1049  2020

In [11]:
# Code to load the 2020 SAT file
df_sat_2021 = pd.read_csv("../data/sat_2021.csv")
df_sat_2021.columns = df_sat_2021.columns.str.lower().str.replace(' ', '_')
df_sat_2021 = df_sat_2021[['state','participation_rate', 'total']]
df_sat_2021['year']=2021
df_sat_2021.head()

        state participation_rate  total  year
0     Alabama                 3%   1159  2021
1      Alaska                23%   1119  2021
2     Arizona                11%   1181  2021
3    Arkansas                 2%   1194  2021
4  California                24%   1057  2021

In [12]:
#combine SAT yearly datasets to a single dataset
df_sat = df_sat_2019
df_sat = df_sat.append(df_sat_2020, ignore_index=True)
df_sat = df_sat.append(df_sat_2021, ignore_index=True)

In [13]:
#check the data per year and confirm we have three years of data in the final dataset
df_sat['year'].value_counts()

2019    53
2021    53
2020    52
Name: year, dtype: int64

# Reading the ACT file, cleanse/rename the columns,  adding year as column and merging 3 years of dataset into one

In [14]:
# Code to read and load the 2019 ACT file
df_act_2019 = pd.read_csv('../data/act_2019.csv')
df_act_2019.rename(columns={'State':'state', 'Participation': 'participation_rate', 'Composite': 'composite'}, inplace=True)
df_act_2019['year'] = 2019
df_act_2019.head()

        state participation_rate  composite  year
0     Alabama               100%       18.9  2019
1      Alaska                38%       20.1  2019
2     Arizona                73%       19.0  2019
3    Arkansas               100%       19.3  2019
4  California                23%       22.6  2019

In [15]:
# Code to read and load the 2020 ACT file
df_act_2020 = pd.read_csv('../data/act_2020.csv')
df_act_2020 = df_act_2020[['State', 'Estimated Percent of Graduates Tested*', ' Average Composite Score']]
df_act_2020.rename(columns={'State':'state','Estimated Percent of Graduates Tested*': 'participation_rate', ' Average Composite Score': 'composite'}, inplace=True)
df_act_2020['year'] = 2020
df_act_2020.head()

         state participation_rate  composite  year
0      Alabama               100%       18.8  2020
1     Arkansas               100%       19.0  2020
2     Kentucky               100%       19.5  2020
3    Louisiana               100%       18.7  2020
4  Mississippi               100%       18.2  2020

In [16]:
# Code to read and load the 2021 ACT file
df_act_2021 = pd.read_csv('../data/act_2021.csv')
df_act_2021 = df_act_2021[['State', 'Estimated Percent of Graduates Tested*', ' Average Composite Score']]
df_act_2021.rename(columns={'State':'state','Estimated Percent of Graduates Tested*': 'participation_rate', ' Average Composite Score': 'composite'}, inplace=True)
df_act_2021['year'] = 2021

df_act_2021.head()

          state participation_rate  composite  year
0       Alabama               100%       18.7  2021
1      Kentucky               100%       19.2  2021
2   Mississippi               100%       18.1  2021
3        Nevada               100%       17.8  2021
4  North Dakota               100%       19.6  2021

In [17]:
#combine ACT yerly datasets to a single dataset
df_act = df_act_2019
df_act= df_act.append(df_act_2020, ignore_index=True)
df_act = df_act.append(df_act_2021, ignore_index=True)
df_act.head()

        state participation_rate  composite  year
0     Alabama               100%       18.9  2019
1      Alaska                38%       20.1  2019
2     Arizona                73%       19.0  2019
3    Arkansas               100%       19.3  2019
4  California                23%       22.6  2019

In [18]:
#check the data per year and confirm we have three years of data in the final dataset
df_act['year'].value_counts()

2019    52
2020    52
2021    52
Name: year, dtype: int64

# Cleaning up the data

## ACT

In [19]:
#check for NULL values
df_act.isna().sum()

state                 0
participation_rate    0
composite             0
year                  0
dtype: int64

The ACT files have no null values in all fields

In [20]:
#check if the participation_rate has any invalid values
df_act['participation_rate'].unique()

array(['100%', '38%', '73%', '23%', '27%', '22%', '13%', '32%', '54%',
       '49%', '80%', '31%', '35%', '29%', '66%', '72%', '6%', '28%',
       '21%', '19%', '95%', '82%', '14%', '25%', '63%', '96%', '42%',
       '17%', '12%', '78%', '75%', '39%', '20%', '24%', '52%', '94%',
       '92%', '76%', '71%', '70%', '68%', '56%', '46%', '43%', '33%',
       '18%', '15%', '11%', '5%', '99%', '98%', '91%', '86%', '85%',
       '79%', '67%', '60%', '58%', '55%', '50%', '47%', '34%', '30%',
       '16%', '9%', '8%', '7%', '4%', '2%'], dtype=object)

The ACT have valid participation rates

In [21]:
#check if the state has any invalid values
df_act['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'National',
       'District of  Columbia'], dtype=object)

In [22]:
#clean the state
df_act['state'] = df_act['state'].str.rstrip().str.lstrip().str.replace('  ', ' ')

In [23]:
#check if the state has any invalid values
df_act['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'National'], dtype=object)

## SAT

In [24]:
#check for null values
df_sat.isna().sum()

state                 0
participation_rate    1
total                 0
year                  0
dtype: int64

In [25]:
#there is one record where participation_rate is null, to check the specific record with NA
null_rec = df_sat[df_sat['participation_rate'].isna()]
null_rec

            state participation_rate  total  year
104  Puerto Rico                 NaN    992  2020

In [26]:
#before dropping
df_sat.shape

(158, 4)

In [27]:
#let's drop Puerto Rico
df_sat = df_sat.dropna()

In [28]:
#after dropping
df_sat.shape

(157, 4)

In [29]:
#check for other values that are not valid %
df_sat['participation_rate'].unique()

array(['7%', '41%', '31%', '6%', '63%', '100%', '94%', '71%', '54%',
       '66%', '3%', '4%', '5%', '99%', '82%', '81%', '9%', '20%', '95%',
       '18%', '79%', '51%', '2%', '19%', '22%', '70%', '—', '68%', '37%',
       '29%', '67%', '98%', '64%', '88%', '80%', '10%', '17%', '93%',
       '48%', '21%', '73%', '65%', '69%', '23%', '11%', '24%', '56%',
       '96%', '90%', '26%', '43%', '47%', '34%', '1%', '30%', '55%',
       '15%', '39%', 'not provided', '59%', '27%', '45%'], dtype=object)

In [30]:
#check the dat with '—' and 'not provided'
df_sat[ (df_sat['participation_rate'] == '—') | (df_sat['participation_rate'] == 'not provided')]

                  state participation_rate  total  year
39          Puerto Rico                  —    944  2019
47       Virgin Islands                  —    935  2019
144         Puerto Rico       not provided    994  2021
153  Virgin Islands, US       not provided    920  2021

In [31]:
#before dropping
df_sat.shape

(157, 4)

In [32]:
#let's drop the Puerto Rico and Virgin Island too
df_sat = df_sat[(df_sat['state'] != 'Puerto Rico') & (df_sat['state'] != 'Virgin Islands, US') & (df_sat['state'] != 'Virgin Islands')]

In [33]:
#after dropping
df_sat.shape

(153, 4)

In [34]:
#check participation rate, and confirm that  '—' and 'not provided' are no longer in hte dataset 
df_sat['participation_rate'].unique()

array(['7%', '41%', '31%', '6%', '63%', '100%', '94%', '71%', '54%',
       '66%', '3%', '4%', '5%', '99%', '82%', '81%', '9%', '20%', '95%',
       '18%', '79%', '51%', '2%', '19%', '22%', '70%', '68%', '37%',
       '29%', '67%', '98%', '64%', '88%', '80%', '10%', '17%', '93%',
       '48%', '21%', '73%', '65%', '69%', '23%', '11%', '24%', '56%',
       '96%', '90%', '26%', '43%', '47%', '34%', '1%', '30%', '55%',
       '15%', '39%', '59%', '27%', '45%'], dtype=object)

In [35]:
#confirm that Puerto Rico and Virgin Island are no longer in the dataset 
df_sat['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'District of Columbia '],
      dtype=object)

In [36]:
#Remove spaces in the state field, notice the 'District of Columbia ']
df_sat['state'] = df_sat['state'].str.rstrip().str.lstrip()

In [37]:
#convert the % to decimal, using the function defined above
df_sat['participation_rate'] = df_sat['participation_rate'].apply(percent_conversion)
df_act['participation_rate'] = df_act['participation_rate'].apply(percent_conversion)
df_sat.head()

        state  participation_rate  total  year
0     Alabama                0.07   1143  2019
1      Alaska                0.41   1097  2019
2     Arizona                0.31   1134  2019
3    Arkansas                0.06   1141  2019
4  California                0.63   1065  2019

In [38]:
#save the cleansed data into a file
df_sat.to_csv('../data/sat-2019to2021.csv', index=False)
df_act.to_csv('../data/act-2019to2021.csv', index=False)

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|Year|int|ACT/SAT|2019 to 2021|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [61]:
#Code: Standard Deviation of Participation Rate in ACT and SAT per year using list comprehension

sd_act = {'ACT_' + str(year): calculate_std(df_act[df_act['year']==year]['participation_rate']) for year in range(2019, 2022) }
sd_sat = {'SAT_' + str(year): calculate_std(df_sat[df_sat['year']==year]['participation_rate']) for year in range(2019, 2022) }

In [62]:

sd = sd_act.copy()
sd.update(sd_sat)
sd

{'ACT_2019': 0.33857996180008104,
 'ACT_2020': 0.3496749864572045,
 'ACT_2021': 0.3625127522751857,
 'SAT_2019': 0.3836584048685726,
 'SAT_2020': 0.3854271585903205,
 'SAT_2021': 0.2866983164309961}

## Investigate Trends, highest/lowest participation rate in ACT and SAT

In [87]:
#check how many states haev 100% participation rates
len(df_act[(df_act['year']==2019) & (df_act['participation_rate']== 1.0)])

15

In [93]:
#is there any changes in the top 15 participation rates over the years

df_act[df_act['year']==2019].sort_values(by=['participation_rate', 'state'], ascending=[False, True]).head(15)

             state  participation_rate  composite  year
0          Alabama                 1.0       18.9  2019
3         Arkansas                 1.0       19.3  2019
17        Kentucky                 1.0       19.8  2019
18       Louisiana                 1.0       18.8  2019
24     Mississippi                 1.0       18.4  2019
26         Montana                 1.0       19.8  2019
27        Nebraska                 1.0       20.0  2019
28          Nevada                 1.0       17.9  2019
33  North Carolina                 1.0       19.0  2019
35            Ohio                 1.0       20.0  2019
36        Oklahoma                 1.0       18.9  2019
42       Tennessee                 1.0       19.4  2019
44            Utah                 1.0       20.3  2019
49       Wisconsin                 1.0       20.3  2019
50         Wyoming                 1.0       19.8  2019

In [94]:
df_act[df_act['year']==2020].sort_values(by=['participation_rate', 'state'], ascending=[False, True]).head(15)

             state  participation_rate  composite  year
52         Alabama                 1.0       18.8  2020
53        Arkansas                 1.0       19.0  2020
54        Kentucky                 1.0       19.5  2020
55       Louisiana                 1.0       18.7  2020
56     Mississippi                 1.0       18.2  2020
57         Montana                 1.0       19.9  2020
58        Nebraska                 1.0       19.9  2020
59          Nevada                 1.0       17.9  2020
60  North Carolina                 1.0       18.8  2020
61            Ohio                 1.0       19.9  2020
62        Oklahoma                 1.0       18.7  2020
63       Tennessee                 1.0       19.3  2020
64            Utah                 1.0       20.2  2020
65       Wisconsin                 1.0       20.1  2020
66         Wyoming                 1.0       19.7  2020

In [95]:
df_act[df_act['year']==2021].sort_values(by=['participation_rate', 'state'], ascending=[False, True]).head(15)

              state  participation_rate  composite  year
104         Alabama                1.00       18.7  2021
105        Kentucky                1.00       19.2  2021
106     Mississippi                1.00       18.1  2021
107          Nevada                1.00       17.8  2021
108    North Dakota                1.00       19.6  2021
109       Tennessee                1.00       19.1  2021
110        Arkansas                0.99       19.0  2021
111       Louisiana                0.98       18.4  2021
112       Wisconsin                0.96       20.0  2021
113  North Carolina                0.92       18.9  2021
114         Wyoming                0.91       19.8  2021
115        Nebraska                0.86       20.0  2021
116            Utah                0.86       20.6  2021
117            Ohio                0.85       19.6  2021
118          Kansas                0.79       19.9  2021

In [96]:
#SAT, is there any changes in the top 15 participation rates over the years

df_sat[df_sat['year']==2019].sort_values(by=['participation_rate', 'state'], ascending=[False, True]).head(15)

                   state  participation_rate  total  year
5               Colorado                1.00   1024  2019
6            Connecticut                1.00   1046  2019
7               Delaware                1.00    985  2019
9                Florida                1.00    999  2019
12                 Idaho                1.00    993  2019
13              Illinois                1.00   1013  2019
22              Michigan                1.00   1003  2019
40          Rhode Island                1.00    995  2019
19                 Maine                0.99   1013  2019
50         West Virginia                0.99    943  2019
29         New Hampshire                0.95   1059  2019
8   District of Columbia                0.94    975  2019
20              Maryland                0.82   1058  2019
30            New Jersey                0.82   1090  2019
21         Massachusetts                0.81   1120  2019

In [97]:
df_sat[df_sat['year']==2020].sort_values(by=['participation_rate', 'state'], ascending=[False, True]).head(15)

                    state  participation_rate  total  year
58               Colorado                1.00   1012  2020
59            Connecticut                1.00   1039  2020
60               Delaware                1.00    978  2020
103  District of Columbia                1.00    980  2020
61                Florida                1.00    991  2020
64                  Idaho                1.00    984  2020
74               Michigan                1.00    998  2020
91           Rhode Island                1.00    990  2020
65               Illinois                0.98   1007  2020
71                  Maine                0.98    995  2020
100         West Virginia                0.98    936  2020
81          New Hampshire                0.93   1055  2020
72               Maryland                0.88   1029  2020
82             New Jersey                0.82   1081  2020
73          Massachusetts                0.80   1119  2020

In [98]:
df_sat[df_sat['year']==2021].sort_values(by=['participation_rate', 'state'], ascending=[False, True]).head(15)

                    state  participation_rate  total  year
112              Delaware                0.96    984  2021
113  District of Columbia                0.90    987  2021
117                 Idaho                0.90    985  2021
114               Florida                0.81    993  2021
118              Illinois                0.80   1007  2021
134         New Hampshire                0.71   1065  2021
111           Connecticut                0.69   1072  2021
127              Michigan                0.68   1031  2021
145          Rhode Island                0.68   1011  2021
149                 Texas                0.59   1003  2021
110              Colorado                0.56   1072  2021
137              New York                0.55   1057  2021
135            New Jersey                0.48   1125  2021
146        South Carolina                0.48   1036  2021
125              Maryland                0.47   1073  2021

*For ACT, from 2019 and 2020, 15 states have participation rates of 100% for ACT, down to 6 states in 2021. 

For SAT, from 2019 and 2020, 8 states have participation rates of 100% for ACT, down to 0 state in 2021.*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [43]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!